html, body{
	height: 100%;
	width: 100%;
	margin: auto;
	font-family: Lato;
	background: #d6d3cc;
}



#Nav{
	height: 4em;
	width: 100%;
	text-align: center;
	background: teal;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 3px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,.5);
	z-index: 1000;
}
#Nav-list{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item{
	display: inline-block;
	margin: 1rem;
}

.nav-link:visited, .nav-link:visited, .nav-link{
	text-decoration: none;
	color: #E0F2F1;
	width: 100%;
	height: 100%;
}

.nav-link >i{
	color: #A66F00;
	font-size: 5rem;
	text-shadow: 2px 2px 8px rgba(25,0,0,.8);
}

a.nav-link:hover > i {
    color: #A68F00;
    text-shadow: 3px 3px 12px rgba(25,0,0,.8);
    transition: .5s;
}
a.nav-link:active > i {

    text-shadow: 3px 3px 8px rgba(25,0,0,.9);
    transition: .5s;
}


#home, #goals, #hardware, #plataforma, #modelado{
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.image figure{
	width: 100%;
	margin-bottom: 0;
	margin-left: 0;

}

.image figure img{
	width: 100%;
}

.image{
	-ms-align-self: center;
	align-self: center;
	max-width: 50%;

}

.description{
	-ms-align-self: center;
	align-self: center;
	padding: 3rem;
	margin: auto;
	text-align: center;
}

.description p, .description ul li{
	font-size: 1.1rem;
	font-weight: lighter;
	text-align: justify;
	margin: 1em;
}



.sub-section{

	display: flex;
	height: 100%;
	background: #eee;
	width: 70%;
	z-index: 100;
}

h1, h2{
	text-align: center;
	color: /*teal;*/
	#03153e;
}

.arrow{
	width: 10%;
	-webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.4));
}

section > .image{
	box-shadow:inset 0 0 1em black;
}
#more{
	height: 100%;
}

#more > .sub-section{
	width: 100%;
	height: 65%;
	display: flex;
	flex-direction: column;
}

#more > .image{
	width: 100%;
	height: 35%;
	max-width: none;
	background: repeat-x url("car3.jpg") bottom center;
	background-size: auto 100%;
}

#home > .image{
	background: no-repeat url("car.jpg") center;
	background-size: 100%;
	height: 100%;
	width: 50%;
}

#goals > .image{
	background: no-repeat url("car2.jpg") center;
	background-size: 100%;
	height: 100%;
	width: 50%;
}

#hardware > .image{
	background: no-repeat url("car2.jpg") center;
	background-size: 100%;
	height: 100%;
	width: 50%;
}

.more-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 0rem;
	height: 80%;
}

.more-item{
	-ms-align-self: center;
	align-self: center;
	width: 28%;
	height: 90%;
	display: flex;
	flex-direction: column;
	background: #eeeeeb;
	box-shadow: 1px 1px 2px rgba(0,0,0,.4);
	transition: background .7s;
}

.more-item a{

}


#more .description{
	width: 100%;
	padding: 0;
	height:100%;
	display: flex;
	flex-direction: column;
}

.sub-section h1{
	height: 20%;
}

#more img{
	margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.more-item:hover {
	background: rgba(166, 143, 0, 0.52);

	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(0,0,0,.4);
}

.more-item:hover img{
	opacity: .8;
}

.more-item:hover h2{

	color: white;
}
.thumb{
	width: 100%;
    margin: auto;
    height: 70%;
}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
}

#more .sub-section{
	box-shadow: 0 -.25rem .5rem rgba(0,0,0,.4);
}


#hardware > .image{
	background: no-repeat url("plataforma.png") center;
	background-size: 100%;
	height: 100%;
	width: 50%;
}

#plataforma > .image{
	background: no-repeat url("thumb5.png") center;
	background-size: 100%;
	height: 100%;
	width: 50%;
}

#hardware p, #plataforma p{
	text-align: justify;
}

section > .image{
	opacity: .8;
}


/*
#newsection > .image{
	background: no-repeat url("imageToLoad.png") center;
	background-size: 100%;
	height: 100%;
	width: 50%;
}
*/
